@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

body{
    font-family: "DM Sans", "sans-serif" !important;
    background-color: black !important;
}

.bg-image{
    background-image: url("IMAGENES/japan-bg.jpg");
    background-size: cover;
    background-position: center center;
    height: auto;
}

.navbar-brand {
    margin-left: 1.5em;
    margin-top: 1em;
}

.navbar-brand span, .nav-link span{
    /* font-family: "DM Sans", "sans-serif"; */
    font-weight: bold;
    color: white;
}

.navbar-nav{
    margin-right: 5em;
}

.nav-link:hover {
    opacity: 1;
  }
  
.nav-link::before {
    transition: 300ms;
    height: 3px;
    content: "";
    position: absolute;
    background-color: white;
}

.nav-link-ltr::before {
    width: 0%;
    bottom: 10px;
}
  
.nav-link-ltr:hover::before {
    width: 7.5em;
}

#dest-link{
    padding-right: 1.5em;
}

#dest-link .nav-link-ltr:hover::before{
    width: 4em;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f173; 
}
 
::-webkit-scrollbar-thumb {
  background: #4a4a4a; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.cards-container{
    /* font-family: "DM Sans"; */
    color: white;
    display: flex;
    align-items: center;
    height: 100%;
    width:100%;
}

.main-title{
    margin-left: 3.5em;
    margin-bottom: 4em;
}

.fadeup{
    animation: fadeUp 0.5s ease-in;
}

.fadeleft{
    animation: fadeLeft 1s ease-in;
}

@keyframes fadeUp{
    from{
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    to{
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeLeft{
    from{
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    to{
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}   

.explore-btn, .tour-btn{
    padding: 0.5em;
    width: 25%;
    border-radius: 5px;
}

.visit-btn{
    padding: 0.5em;
    border-radius: 5px;
}

.explore-btn .fas, .tour-btn .fas, .visit-btn .fas{
    padding-left: 0.25em;
    display: none;
}

.explore-btn:hover{
    width: 30%;
    background-color: rgb(43, 42, 42);
    border-color: white;
    color: white;
}

.tour-btn:hover{
    width: 45%;
    background-color:  rgb(43, 42, 42);
    border-color: white;
    color: white;
}

.visit-btn:hover{
    width: 55%;
    background-color:  rgb(43, 42, 42);
    border-color: white;
    color: white;
}

.explore-btn:hover .fas, .tour-btn:hover .fas, .visit-btn:hover .fas{
    opacity: 1;
    color: white;
    display: inline-block;
}

.video-container{
    height: 130vh;
    width: 100%;
    background-color: black;
    margin-right: 7.5em;
    padding-top: 2em;
    /* padding-left: 5em; */
    padding-right: 2em;
}

.video-item{
    margin-top: 1.5em;
}

.video-container video{
    border-radius: 10px;
    max-width: 100%;
    max-height: 100%;
    box-shadow: 0 0 20px rgb(124, 123, 123);
}

.cards{
    display: flex;
    gap: 5em;
    margin-right: 8.5em;
}

.card-place{
    transition: all 0.3s;
}

.card-place:hover{
    transform: scale(1.10);
}

.card-img-top{
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)), url("IMAGENES/tokyo-bg.jpg")
}

.card-body{
    background-color: black;
    backdrop-filter: blur(10px);
}

.card-text{
    color: white;
}

.tour-btn{
    border-radius: 10px;
    width: 50%;
}

.vid{
    margin-left: 2em;
}

.desc{
    color: white;
    margin-bottom: 0;
    margin-right: 2em;
    padding-right: 5em;
}

.places{
    color: white;
    padding-top: 5em;
    margin-left: 2em;
}

.places-cards{
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(4, 1fr);
}

.places-cards .card{
    box-shadow: 0 0 20px rgb(124, 123, 123);
    border: 0;
}